<section class="section">

  <header class="header">

    <div class="group --left">
      <h1 class="title">Fourlists</h1>
    </div>
    <div class="group --right">
      <a class="btn --icon" ui-sref="addTask">
        <i class="material-icons">add</i>
      </a>
    </div>

  </header>


  <main class="main">


    <div class="lists">

    <!-- <div class="lists--row"> -->


      <div class="lists--col" ng-repeat="list in vm.lists track by list.id">


        <section class="list list__{{list.id}}" ui-sref-active="list__opened">


          <a class="click_area" ui-sref=".list({ listId: list.id })"></a>


          <header class="header --shadow">

            <div class="group --left">
              <a class="btn --icon" ui-sref="lists">
                <i class="material-icons">close</i>
              </a>
              <h1 class="title">{{ list.title }}</h1>
            </div>
            <div class="group --right">
              <a class="btn --icon" ng-click="vm.openAddTask(list)">
                <i class="material-icons">add</i>
              </a>
            </div>

          </header>


          <div class="main">

            <div class="list--container">

              <div class="list--title">{{ list.title }}</div>

              <div class="loading  list--item list--item--label" ng-if="vm.processing">Carregando...</div>

              <div
              class="list--item"
              ng-repeat="task in vm.tasks track by task.$id"
              ng-if="task.list_id == list.id"
              ng-click="vm.openEditTask(task)">

                <div
                class="list--item--label">{{task.title}}</div>

              </div>

            </div>

          </div>

          <!-- <footer class="footer"> -->
          <!-- <div class="footer--item">
            <button class="footer--btn  btn btn__block" ng-click="vm.openList(list)">
              <i class="material-icons">&#xe8f4;</i>
            </button>
          </div> -->
          <!-- <div class="footer--item">
            <button class="footer--btn  btn btn__block" ng-click="vm.openList(list, true);">
              <i class="material-icons">&#xe147;</i>
            </button>
          </div> -->
          <!-- </footer> -->

        </section><!-- End - List -->

      </div><!-- End - Col -->


      <!-- </div> --> <!-- End - Row -->

    </div><!-- End - Lists -->

  </main>

</section>