<form class="section" name="addTaskForm" novalidate>

  <header class="header --shadow">

    <div class="group --left">
      <a class="btn --icon" ng-click="goBack()">
        <i class="material-icons">arrow_back</i>
      </a>
      <h1 class="title">{{vm.pageTitle}}</h1>
    </div>

    <div class="group --right">
      <button
      class="btn --icon"
      ng-click="vm.remove(vm.task)"
      ng-if="vm.isEdit()">
        <i class="material-icons">delete</i>
      </button>
    </div>

  </header>

  <main class="main">

    <div class="container">

      <div class="text_field">
        <label for="title" class="label --text_field">Título*</label>
        <input id="title" class="text_input" type="text" ng-model="vm.task.title" required>
      </div>

      <div class="text_field">
        <label for="description" class="label --text_field">Detalhes</label>
        <!-- <div id="description" class="text_input" ng-model="vm.task.description" contenteditable></div> -->
        <textarea id="description" class="text_input" ng-model="vm.task.description"></textarea>
      </div>

      <div class="row">
        <div class="col" ng-repeat="list in vm.lists">
          <button
          type="button"
          class="btn --icon --default  list_button list_button__{{$index+1}}"
          ng-click="vm.setList(list.id)">
            <i class="material-icons md-24 md-dark md-inactive" ng-show="vm.task.list_id == $index+1">check</i>
          </button>
        </div>
      </div>

    </div>

  </main>

  <footer class="form_footer">

    <button
    type="submit"
    class="btn --primary"
    ng-click="vm.save(vm.task)"
    ng-disabled="addTaskForm.$invalid"
    ng-if="vm.isEdit()">
      <span class="btn--label">Salvar</span>
    </button>

    <button
    type="submit"
    class="btn --primary"
    ng-click="vm.add(vm.task)"
    ng-disabled="addTaskForm.$invalid"
    ng-if="!vm.isEdit()">
      <span class="btn--label">Adicionar</span>
    </button>

  </footer>

</form>