<form class="section" name="addTaskForm" novalidate>

  <header class="header">

    <div class="header--group">
      <a class="header--btn" ng-click="goBack()">
        <i class="material-icons">close</i>
      </a>
      <h1 class="header--title">Adicionar tarefa</h1>
    </div>

  </header>

  <main class="main">

    <div class="container">

      <div class="form_field">
        <!-- <label for="title">Título</label> -->
        <input id="title" type="text" ng-model="vm.task.title" placeholder="Título" required>
      </div>

      <div class="form_field">
        <!-- <label for="description">Descrição</label> -->
        <textarea id="description" ng-model="vm.task.description" placeholder="Descrição"></textarea>
      </div>

      <br>

      <div>
        <button
          type="button"
          class="btn btn__icon list_button list_button__{{$index}}"
          ng-repeat="list in vm.lists"
          ng-click="vm.setList(list.id)">{{ list.id }}</button> <!-- ng-class="{'active': vm.task.list_id = list.id}" -->
      </div>

    </div>

    <div class="page--footer">
      <div class="container">
        <!-- <button
          class="list--item--button  btn btn__icon"
          ng-click="vm.removeTask(item)">
          <i class="material-icons md-dark md-24">cancel</i>
        </button> -->
        <button
          type="button"
          class="btn btn__default"
          ui-sref="lists">Cancelar</button>
        <button
          type="submit"
          class="btn btn__primary"
          ng-click="vm.add(vm.task)"
          ng-disabled="addTaskForm.$invalid"
          ng-if="!vm.isEdit()">Adicionar</button>
        <button
          type="submit"
          class="btn btn__primary"
          ng-click="vm.save(vm.task)"
          ng-disabled="addTaskForm.$invalid"
          ng-if="vm.isEdit()">Salvar alterações</button>
      </div>
    </div>

  </main>

</form>