<div class="modal modal__opened"> <!-- ui-sref-active="modal__opened" -->

  <div class="modal--header">

    <div class="header--group">
      <a class="header--btn" ui-sref="lists">
        <i class="material-icons">&#xe5c4;</i>
      </a>
      <h1 class="header--title">Adicionar tarefa</h1>
    </div>

  </div>

  <div class="main">

    <form name="addTaskForm" class="container" novalidate>

      <input type="text" ng-model="vm.task.title" placeholder="Título" required>

      <textarea ng-model="vm.task.description" placeholder="Descrição"></textarea>

      <br>

      <div>
        <button class="btn btn__default"
                ng-repeat="item in vm.lists"
                ng-click="vm.listId = item.id"
                ng-class="{'active': vm.listId = item.id}">{{ item.id }}</button>
      </div>

      <div class="page--footer modal--footer">
        <button class="btn btn__default" ui-sref="lists">Cancelar</button>
        <button class="btn btn__primary" ng-click="vm.addTask(vm.task)">Adicionar</button>
      </div>

    </form>

  </div>

</div>