$text_color: rgba(0, 0, 0, 0.8);
$text_medium_color: rgba(0, 0, 0, 0.6);
$text_light_color: rgba(0, 0, 0, 0.4);

$black-50: rgba(#000, 0.05);
$black-100: rgba(#000, 0.1);
$black-150: rgba(#000, 0.15);
$black-200: rgba(#000, 0.2);

$header_height: 48px;
$header_title_font_size: 20px;


// Style
//
html {
  height: 100%;
  font: 16px/1.25 'Roboto', arial;
  color: $text_color;
  background-color: #fff;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
}

body {
  // overflow: hidden;
  // width: 100%;
  height: 100%;
  margin: 0;
}

.section {
  display: flex;
  flex-direction: column;
  // overflow: hidden;
  // width: 100%;
  height: 100%;
  margin: 0;
}

.header {
  display: flex;
  flex-shrink: 0;
  background: transparent;
  height: $header_height;
  justify-content: space-between;
}

.header--group {
  display: flex;
}

.header--title {
  margin: 0;
  padding: 0 1rem;
  align-self: center;
  font-family: 'Roboto Condensed';
  font-weight: 300;
  font-size: $header_title_font_size;
  color: $text_light_color;
}

.header--btn {
  position: relative;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  min-width: 56px;
  height: $header_height;
  padding: 0 1rem;
  color: $text_medium_color;
  text-decoration: none;
  appearance: none;
  cursor: pointer;
  background: none;
  border: none;
  box-shadow: none;

  &:hover {
    color: $text_color;
    background: rgba(black, 0.1);
    text-decoration: none;
  }

}

.main {
  position: relative;
  display: flex;
  height: calc(100% - #{$header_height});
  padding: 0;
  flex-grow: 1;
  flex-wrap: wrap;
  align-content: flex-start;
  // align-items: flex-start;
}

@mixin container($padding: 1rem){
  padding: $padding;
  width: 100%;
}

@mixin container-tablet(){
  @media(min-width: $screen-tablet) {
    padding-left: 4.5rem;
    padding-right: 4.5rem;
  }
}

.container {
  @include container;
  @include container-tablet;
}

.footer {
  display: flex;
  flex-shrink: 0;
  width: 100%;
}
  .footer--item {
    flex-grow: 1;
    width: 50%;
    text-align: center;
  }


// Overrides
input[type=text] {
  border-bottom-color: $black-100;
}

::placeholder {
  color: $text_light_color;
}

.col {
  padding: 0.5rem 1rem;
}