// #LISTS
//
.lists {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 0 8px;
}

.lists--row {
  display: flex;
  width: 100%;
  height: 50%;
}

.lists--col {
  // display: flex;
  width: 50%;
  height: 50%;
  padding: 8px;
}

.list {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-height: none;
  box-sizing: border-box;
  border-radius: 2px;
  box-shadow: 0 1px 3px $black-200;

  .header {
    display: none;
  }

  &__opened {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 95;
    border-radius: none;

    .click_area {
      visibility: hidden;
    }

    .header {
      display: flex;
    }

    .footer {
      display: none;
    }

  }

}
.list__1, .list__1 .footer {
  background: #FFCDD2;
}
.list__2, .list__2 .footer {
  background: #FFE0B2;
}
.list__3, .list__3 .footer {
  background: #FFF9C4;
}
.list__4, .list__4 .footer {
  background: #DCEDC8;
}

.click_area {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  cursor: pointer;
}

.form_add_task {
  display: flex;
  flex-grow: 1;
}

.list--container {
  @include container;
  .list__opened & {
    @include container-tablet;
  }
}

.list--title {
  // min-height: 32px;
  margin-bottom: 8px;
  line-height: 1.25;
  font-size: 0.75rem;
  font-family: 'Roboto Condensed';
  text-transform: uppercase;
  font-weight: 700;
  color: $text_light_color;

  .list__opened & {
    display: none;
  }
}

.list--item {
  display: flex;
  width: 100%;
  min-height: 32px;
  margin-bottom: 0.5rem;
  line-height: 1.125rem;
  border-bottom: 1px solid $black-100;
}

// .list--item--checkbox {
//   display: none;
//   margin-right: 0.25rem;
//   flex-shrink: 0;
// }

.list--item--label {
  flex-grow: 1;
  align-self: flex-end;
  padding-bottom: 0.5rem;
  font-size: 0.875rem;
  cursor: text;

  &:focus {
    border-bottom-color: $text_medium_color;
  }

  &:focus ~ .list--item--button {
    visibility: visible;
  }
}

.list--item--button {
  visibility: hidden;

  // .list.opened & {
  //   visibility: visible;
  // }
}