.login--container {
  @include container(2rem 1rem);
  text-align: center;
}

.login--title {
  font-size: 3rem;
  line-height: 1em;
  font-weight: 300;
  font-family: Roboto Condensed;
  letter-spacing: -1px;
  color: $text_medium_color;
}